<div class='power_generator-freight_calculator'>
  <%= form_tag api_v1_freight_calculator_path, remote: true, class: 'freight-by-zipcode', data: { type: :json } do %>
    <%= hidden_field_tag :power_generator_id, power_generator_id %>
    <%= number_field_tag :zipcode, nil, placeholder: 'CEP (somente números)', class: 'zipcode' %>
    <%= button_tag 'Calcular o frete', type: :submit, class: 'submit-btn' %>
  <% end %>

  <div class="zipcode-result"></div>
</div>
