
<%= render partial: 'partials/search' %>

<div class="container" >
  <% @power_generators.each do |power_generator| %>
    <%= render partial: 'partials/power_generator', locals: { power_generator: power_generator } %>
  <% end %>
</div>

<%= render partial: 'partials/paginate', locals: { collection: @power_generators } %>
